/* Підключення шрифтів */
@import url(fonts.css);

/* Скидання стилів */
@import url(reset.css);

/* Загальні стилі */
body {
  font-family: "OpenSans", serif;
  font-size: 18px;
  color: #ffffff;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
}

[class*="__container"] {
  max-width: 1250px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*!=============== header ================== */

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  background: linear-gradient(
    rgba(3, 3, 3, 1) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0.6) 100%
  );
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}
.header__container {
}
.navigation {
}
.logo {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  display: inline-block;
  background-color: #1f1d1d;
  padding: 10px 15px 10px 15px;
  border-radius: 30px;
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);

  margin-right: 400px;
}

.logo:hover,
.logo:focus {
  background: linear-gradient(
    130deg,
    rgb(75, 75, 75) 6%,
    rgba(0, 0, 0, 1) 100%
  );
  text-decoration: underline;
}

.navigation__list {
  display: inline-block;
}
.navigation__item {
  display: inline-block;
  position: relative;
}

.navigation__item:not(:last-child) {
  margin-right: 100px;
}

.navigation__link {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  background-color: #1f1d1d;
  padding: 10px 15px 10px 15px;
  border-radius: 30px;
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.navigation__item:hover .navigation__link,
.navigation__item:focus .navigation__link {
  background: linear-gradient(
    130deg,
    rgb(75, 75, 75) 6%,
    rgba(0, 0, 0, 1) 100%
  );
  text-decoration: underline;
}

.navigation__item:hover .menu {
  visibility: visible;
}

/* header - menu */
.menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 130px;
  padding-top: 25px;
  visibility: hidden;
}
.menu__item {
  background-color: #1f1d1d;
  padding: 8px;
  position: relative;
}

.menu__item:not(:first-child)::after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 10px solid rgb(196, 194, 194);
  position: relative;
  left: 0;
  top: 4px;
}

.menu__item:first-child {
  border-radius: 0 25px 0 0;
}

.menu__item:last-child {
  border-radius: 0 0 0 25px;
}

.menu__item:hover {
  background: linear-gradient(
    130deg,
    rgb(75, 75, 75) 6%,
    rgba(0, 0, 0, 1) 100%
  );
}

.menu__link {
  font-size: 20px;
  display: inline-block;
  padding: 5px 5px;
  margin-right: 20px;
}

.menu__item:hover .sub-menu {
  visibility: visible;
}
/* header sub-menu */

.sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 130px;
  padding-left: 5px;
  visibility: hidden;
}
.sub-menu__item {
  background-color: #1f1d1d;
  display: block;
  padding: 5px;
}

.sub-menu__item:first-child {
  border-radius: 0px 25px 0 0;
}

.sub-menu__item:last-child {
  border-radius: 0px 0 0 25px;
}

.sub-menu__item:hover {
  background: linear-gradient(
    130deg,
    rgb(75, 75, 75) 6%,
    rgba(0, 0, 0, 1) 100%
  );
}

.sub-menu__link {
  font-size: 20px;
  display: block;
  padding: 5px;
}

/* main */
main {
}

.practice__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  color: #1f1d1d;
  text-align: center;
}
.title {
  margin-bottom: 30px;
}

.practice {
  padding-top: 184px;
  padding-bottom: 100px;
}
.practice__container {
}
.practice__cards {
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.cards__item {
  background: linear-gradient(
    rgba(3, 3, 3, 1) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0.6) 100%
  );
  height: 350px;
  width: 350px;
  transition: all 0.8s;
}
.cards__wrap {
  width: 100%;
  height: 100%;
  padding-top: 40%;
  background-color: rgb(45, 134, 82);
}
/* translate */
.translate {
  transition: all 0.8s;
}

.cards__item:hover .translate {
  transform: translate(-15%, -15%);
  background-color: rgba(45, 134, 82, 0.8);
}

.cards__item:nth-child(1):hover {
  background: linear-gradient(
    90deg,
    rgb(110, 169, 114) 10%,
    rgba(39, 149, 22, 1) 51%,
    rgb(35, 128, 12) 78%,
    rgba(25, 109, 4, 0.894) 91%
  );
}

/* scale*/
.scale {
  transition: all 0.8s;
}

.cards__item:hover .scale {
  transform: scale(0.8);
  box-shadow: 5px 6px 17px 1px rgba(0, 0, 0, 0.69);
}

/* rotate */
.rotate {
  transition: all 0.8s;
}

.cards__item:hover .rotate {
  transform: rotate(-100deg);
  background-color: rgba(45, 134, 82, 0.8);
}

/* skew */

.skew {
  transition: all 0.8s;
}

.cards__item:hover .skew {
  transform: skew(-30deg, 10deg);
  background-color: rgba(45, 134, 82, 0.8);
  border: 1px solid #000000;
}

/* transform-origin*/

.transform-origin {
  transition: all 0.8s;
}

.cards__item:hover .transform-origin {
  transform: rotate(10deg);
  transform-origin: 0 0;
  background-color: rgba(45, 134, 82, 0.8);
}
/* transform-3d */

.cards__item:nth-child(6) {
  perspective: 400px;
  perspective-origin: center;
}

.transform-3d {
  transition: all 0.8s;
}

.cards__item:hover .transform-3d {
  transform: rotateX(70deg);
  background-color: rgba(45, 134, 82, 0.8);
}
/* transform-style-flat */

.cards__item:nth-child(7) {
  perspective: 400px;
  perspective-origin: center;
  transform-style: flat;
}
.transform-style-flat-y {
  transition: all 0.8s;
}

.cards__item:hover .transform-style-flat-y {
  transform: rotateY(40deg);
}

/* transform-style-preserve-3d*/

.cards__item:nth-child(8) {
  perspective: 400px;
  perspective-origin: center;
  transform-style: preserve-3d;
}
.transform-style-p {
  transition: all 0.8s;
}

.cards__item:hover .transform-style-p {
  transform: rotatey(-40deg);
}
/* transform-style-flat-y */
.cards__item:nth-child(9) {
  perspective: 400px;
  perspective-origin: center;
  transform-style: flat;
}
.transform-style-flat-x {
  transition: all 0.8s;
}

.cards__item:hover .transform-style-flat-x {
  transform: rotateX(40deg);
}
/* text */
.cards__text {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

/* flip card */
.flip-card {
  padding-top: 50px;
  padding-bottom: 50px;
}
.flip {
}
.flip__body {
  position: relative;
  width: 400px;
  height: 400px;
  perspective: 500px;
  margin: 0 auto;
}

.flip__back,
.flip__front {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;

  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding-top: 40%;
  transition: all 0.8s;
}

.flip__front {
  background-color: rgb(45, 134, 82);
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.flip__back {
  background-color: #77608d;
  transform: rotateY(-180deg);
}

.flip__body:hover .flip__back {
  transform: rotateY(0deg);
}
.flip__body:hover .flip__front {
  transform: rotateY(180deg);
}

/* footer */

.footer {
  background: linear-gradient(
    rgba(3, 3, 3, 1) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0.6) 100%
  );
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer__wrapper {
  max-width: 75px;
  margin: 0 auto;
}
.footer__link {
  font-weight: 500;
  font-size: 25px;

  display: inline-block;
  background-color: #1f1d1d;
  padding: 10px 15px 10px 15px;
  border-radius: 30px;
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.footer__link:hover {
  background: linear-gradient(
    130deg,
    rgb(75, 75, 75) 6%,
    rgba(0, 0, 0, 1) 100%
  );
  text-decoration: underline;
}

.section__car {
  padding-top: 400px;
  padding-bottom: 350px;
  background-image: url(../img/car/sky.webp);
  background-position: center;
  background-size: cover;
}

/* homework car */
.car {
  width: 900px;
  margin: 0 auto;
  position: relative;
}

.car::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 35px;
  background-color: #fae501;
  position: absolute;
  top: 117px;
  left: 786px;
  transform: rotate(15deg);
}

.car::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 35px;
  background-color: #fa0101;
  position: absolute;
  top: 118px;
  left: -11px;
  transform: rotate(-15deg);
}

.car__roof {
  position: absolute;
  top: 0;
  left: 169px;
  height: 20px;
  width: 343px;
  background-color: #12b6b8;
  border-radius: 25px 25px 0 0;
  border: 1px solid rgb(0, 0, 0);
  z-index: 1;
}

.car__roof-frame-back {
  position: absolute;
  top: 14px;
  left: 144px;
  height: 140px;
  width: 50px;
  background-color: #12b6b8;
  transform: skew(-21deg, 0);
  border: 1px solid rgb(0, 0, 0);
}

.car__roof-frame-front {
  position: absolute;
  top: 8px;
  left: 552px;
  height: 140px;
  width: 25px;
  background-color: #12b6b8;
  transform: skew(48deg, 0);
  border: 1px solid rgb(0, 0, 0);
}

.car__raer {
  position: absolute;
  left: 0;
  top: 100px;
  height: 120px;
  width: 250px;
  background-color: #12b6b8;
  transform: skew(15deg, 0);
  border-radius: 20px 0 0 15px;
  border: 1px solid rgb(0, 0, 0);
  z-index: 1;
}
.car__back-door {
  position: absolute;
  top: 100px;
  left: 186px;
  height: 120px;
  width: 190px;
  background-color: #12b6b8;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px 5px 5px 80px;
  z-index: 1;
}

.door-back__handle,
.door-front__handle {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 30px;
  height: 10px;
  background-color: #000;
  border-radius: 10px;
  z-index: 1;
}

.car__back-window {
  position: absolute;
  left: 179px;
  top: 17px;
  width: 197px;
  border-bottom: 100px solid rgba(0, 0, 5, 0.9);
  border-left: 38px solid transparent;
  border-right: 0px solid transparent;
}

.car__mirror {
  position: absolute;
  background-color: black;
  z-index: 15;
  width: 35px;
  height: 20px;
  border-radius: 5px 20px 5px 5px;
  top: 81px;
  right: 313px;
}
.car__front-door {
  position: absolute;
  top: 100px;
  left: 376px;
  height: 120px;
  width: 200px;
  background-color: #12b6b8;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px 5px 200px 5px;
  z-index: 1;
}

.car__front-window {
  position: absolute;
  left: 380px;
  top: 17px;
  width: 215px;
  border-bottom: 100px solid rgba(0, 0, 5, 0.9);
  border-left: 0px solid transparent;
  border-right: 111px solid transparent;
}
.car__door-divider {
  position: absolute;
  top: 5px;
  left: 370px;
  height: 100px;
  width: 10px;
  background-color: #12b6b8;
  border: 1px solid rgb(0, 0, 0);
}

.car__front {
  position: absolute;
  left: 475px;
  top: 100px;
  height: 120px;
  width: 305px;
  background-color: #12b6b8;
  transform: skew(-15deg, 0);
  border-radius: 0 20px 15px 0;
  border: 1px solid rgb(0, 0, 0);
}

.car__wheel-rear,
.car__wheel-front {
  height: 120px;
  width: 120px;
  background-color: #000;
  border-radius: 50%;
  background: url(../img/car/wheel.webp) center / contain no-repeat;
  z-index: 1;
}

.car__wheel-rear {
  position: absolute;
  top: 150px;
  left: 80px;
}
.car__wheel-front {
  position: absolute;
  top: 150px;
  left: 590px;
}
