$primaryTextColor: #7d7d7d;
$secondPrimaryTextColor: #fff;
$thirdPrimaryTextColor: #37393f;
$blueAccentColor: #6b77e5;
$greenAccentColor: #40ddb6;
$blueAccentHoverColor: #535cac;
$backgroundColorMobMenu: #f4f4f4;