/* підключення шрифтів */
@import url(fonts.css);

/* скидання стилів */
@import url(reset.css);

/* змінна :root */
:root {
  --primery-color: #000000;
  --second-primery-color: #ffffff;
  --bg-color: #502203;
  --accent-color: #d58417;
}

/* загальні стилі */
body {
  font-family: "Cormorant Infant", sans-serif;
  font-size: 20px;
  color: var(--primery-color);
}

/* ! wrapper */

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

/* ! container */
[class*="__container"] {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ! header */
.header {
}
.header__container {
  display: flex;
  gap: 20px;
  align-items: center;
  min-height: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__logo {
  font-family: "Merriweather", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 30px;
  color: #000;
  flex-shrink: 0;
}
.menu {
  flex: 1 1 auto;
}
.menu__body {
}
.menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 36px;
  row-gap: 8px;
}
.menu__item {
}
.menu__link {
  font-family: "Merriweather", sans-serif;
  font-size: 20px;
  line-height: 100%;
  color: #000;
  transition: all 0.3s;
}

@media (any-hover: hover) {
  .menu__item:hover .menu__link {
    color: var(--accent-color);
    text-decoration-line: underline;
  }
}

.menu__link.menu__link--accent {
  font-weight: 700;
  color: var(--accent-color);
  text-decoration: underline;
}

.header__actions {
  flex-shrink: 0;
}
.actions-header {
  display: flex;
  gap: 23px;
}

.actions-header__item img {
  max-width: 100%;
}

.actions-header__favorite {
}
.actions-header__cart {
}
