/* підключення шрифтів */
@import url(fonts.css);

/* скидання стилів */
@import url(reset.css);

/* змінна :root */
:root {
  --primery-color: #000000;
  --second-primery-color: #ffffff;
  --bg-color: #502203;
  --accent-color: #d58417;
}

/* загальні стилі */
body {
  font-family: "Cormorant Infant", sans-serif;
  font-size: 20px;
  color: var(--primery-color);
}

/* ! wrapper */

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

.page {
  display: flex;
  flex-direction: column;
}

/* ! container */
[class*="__container"] {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ! header */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--second-primery-color);
  z-index: 50;
}
.header__container {
  display: flex;
  gap: 10px;
  align-items: center;
  min-height: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__logo {
  font-family: "Merriweather", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 30px;
  color: var(--primery-color);

  flex-shrink: 0;
  z-index: 3;
}
.menu {
  flex: 1 1 auto;
}
.menu__body {
  transition: all 0.3s;
}
.menu__list {
  display: flex;
  justify-content: center;
  column-gap: 36px;
  row-gap: 8px;
  flex-wrap: wrap;
}

.menu__link {
  font-family: "Merriweather", sans-serif;
  font-size: 20px;
  line-height: 100%;
  color: var(--primery-color);
  transition: all 0.3s;
}

.menu__item--parent .menu__link {
  display: flex;
  gap: 4px;
  align-items: center;
}

.menu__item--parent .menu__link:after {
  content: "";
  width: 16px;
  height: 8px;
  background: url("../img/header/sub-menu-arrow.png") 0 0 no-repeat;
  flex: 0 0 16px;
  transition: transform 0.3s;
}

.menu__link.menu__link--accent {
  font-weight: 700;
  text-decoration: underline;
  color: var(--accent-color);
}

.actions-header {
  display: flex;
  gap: 23px;
  flex-shrink: 0;
  align-items: center;
}

.actions-header__item {
  flex: 0 0 32px;
  position: relative;
}

.actions-header__item img {
  max-width: 100%;
  transition: transform 0.3s;
}

.actions-header__item span {
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background-color: #ff3333;
  color: var(--second-primery-color);
  border-radius: 50%;
  font-size: 9px;
  text-align: center;
  line-height: 12px;
}

.menu__item--parent {
  position: relative;
}

/* sub-menu */

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 15px;
  visibility: hidden;
  opacity: 0;
  transform: translate(0px, -10%);
  pointer-events: none;
  transition: all 0.3s;
}
.sum-menu__list {
  background-color: rgb(164, 156, 121);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  width: 130px;
  border-radius: 10px;
}

.sub-menu__item:not(:last-child) {
  margin-bottom: 5px;
}

.sub-menu__link {
  font-family: "Merriweather", sans-serif;
  font-size: 18px;
  padding: 8px 10px 8px 10px;
  display: block;
}

.icon-menu {
  display: none;
}

/* media запити */

@media (any-hover: hover) {
  .menu__item:hover .menu__link {
    color: var(--accent-color);
    text-decoration: underline;
  }

  .menu__item--parent:hover .menu__link:after {
    transform: rotate(180deg);
  }

  .menu__item--parent:hover .sub-menu {
    transform: translate(0px, 0px);
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }

  .sub-menu__item:hover .sub-menu__link {
    text-decoration: underline;
  }
}

@media (any-hover: hover) {
  .actions-header__item:hover img {
    transform: scale(1.1);
  }
}

/* адаптив */

@media (max-width: 960px) {
  .header__container {
    min-height: 50px;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgb(234, 220, 168);
    padding: 80px 15px 30px 15px;
    overflow: auto;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: -100%;
    background-color: var(--second-primery-color);
    z-index: 2;
    transition: all 0.3s;
  }

  .menu-open .menu__body,
  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    flex-direction: column;
    text-align: right;
    row-gap: 28px;
  }

  .menu__list {
    font-size: 28px;
  }

  .menu__item--parent .menu__link {
    display: block;
  }
  .menu__item--parent .menu__link::after {
    display: none;
  }

  .sub-menu {
    position: relative;
    padding-top: 10px;
    visibility: visible;
    opacity: 1;
    transform: translate(0px, 0px);
  }

  .sum-menu__list {
    width: 100%;
    background-color: rgb(164, 156, 121);
    border-radius: 0;
  }

  .icon-menu {
    width: 30px;
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }

  .icon-menu::before,
  .icon-menu::after,
  .icon-menu span {
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--primery-color);
    position: absolute;
    left: 0;
    transition: all 0.3s;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: 50%;
    margin-top: -1px;
  }

  .menu-open .icon-menu span {
    transform: scale(0);
  }

  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }

  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    top: 50%;
    margin-bottom: -1px;
  }
}

@media (max-width: 480px) {
  .header__logo {
    font-size: 22px;
  }
}

/* ! section hero  */

.hero {
  background-color: var(--bg-color);
  padding: 200px 0 55px 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 100px;
  left: -182px;
  background: url(../img/background/bg-1.svg) no-repeat;
  width: 470px;
  height: 373px;
  transform: rotate(156deg);
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 170px;
  right: -182px;
  background: url(../img/background/bg-2.svg) no-repeat;
  width: 470px;
  height: 373px;
  transform: rotate(310deg);
}

.hero__container {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-start;
}

.hero__body > * {
  margin-bottom: 8px;
}

.hero__title {
  font-weight: 700;
  font-size: 78px;
  line-height: 129%;
  color: var(--second-primery-color);
}
.hero__link {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: var(--second-primery-color);

  border: 1px solid var(--second-primery-color);
  border-radius: 4px;
  padding: 15px 25px;
  position: relative;
}

.hero__link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -8px;
  border-radius: 4px;
  padding: 15px 25px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.06);
  transition: all 0.3s;
}

.hero__body > *:last-child {
  margin-bottom: 0;
}

.hero__image img {
  width: 100%;
  border-radius: 215px;
}

.hero__image {
  border: 1px solid var(--second-primery-color);
  border-radius: 215px;
  padding: 20px;
  z-index: 5;
}

.content-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.content-hero__text {
  font-weight: 700;
  font-size: 22px;
  line-height: 148%;
  color: var(--second-primery-color);
}
.content-hero__item {
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: var(--second-primery-color);
  display: flex;
  gap: 10px;
  align-items: center;
}

.content-hero__item:before {
  content: "";
  width: 1px;
  height: 60px;
  background-color: var(--second-primery-color);
}

/* section hero :hover */
@media (any-hover: hover) {
  .hero__link:hover::before {
    top: 0;
    left: 0;
  }
}

/* адаптив section hero */

@media (min-width: 992px) {
  .hero__body {
    flex-basis: 31.625%;
    flex-shrink: 0;
    padding-top: 58px;
    padding-right: 30px;
  }

  .hero__image {
    flex-basis: 36.7521%;
    flex-shrink: 0;
  }

  .hero__content {
    flex-basis: 31.625%;
    flex-shrink: 0;
    padding-top: 76px;
    padding-left: 30px;
  }

  .content-hero__item {
    align-self: flex-end;
    margin-bottom: 183px;
  }
}

/* footer */
.footer {
  background-color: var(--second-primery-color);
}
.footer__container {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__link {
  font-family: "Merriweather", sans-serif;
  font-size: 20px;
  line-height: 100%;
  color: var(--primery-color);
  transition: all 0.3s;
}

/* footer :hover */

@media (any-hover: hover) {
  .footer__link:hover {
    color: var(--accent-color);
    text-decoration: underline;
  }
}

/* background decoration */

.background__image {
  position: absolute;
  border: 1px solid #fff;
}

.background__image--left {
  border-radius: 195px 195px 0 0;
  bottom: 5px;
  left: 38px;
}

.background__image--left img {
  aspect-ratio: 240 / 215;
  border-radius: 195px 195px 0 0;
  margin-left: 6px;
  margin-bottom: -6px;
}
.background__image--right img {
  border-radius: 215px;
  aspect-ratio: 262 / 337;
}

.background__image--right {
  padding: 12px;
  border-radius: 215px;
  right: -92px;
  bottom: 55px;
}

@media (max-width: 1460px) {
  .background__image--right {
    display: none;
  }
}

/* ============================================= */

@media (max-width: 991.98px) {
  .hero {
    padding: 150px 0 40px 0;
  }
  .hero__container {
    flex-direction: column;
    gap: 40px;
    align-items: stretch;
  }

  .hero__body {
    text-align: center;
  }

  .hero__image {
    align-self: center;
  }

  .background__image--left {
    display: none;
  }
}

@media (max-width: 1200px) {
  .hero__title {
    font-size: 64px;
  }
}

@media (max-width: 470px) {
  .hero__title {
    font-size: 46px;
  }

  .footer__link {
    font-size: 18px;
  }
}

@media (max-width: 960px) {
  .hero {
    padding: 90px 0 40px 0;
  }
}

/* адаптив background */
