// reset styles
@import "_reset.scss";

// conection fonts
@import "_fonts.scss";

// ! vars
$mainTextColor: #37393f;
$accentColor: #6b77e5;
$btnHoverColor: #4f59b2;
$btnColorText: #ffffff;
$mobHeaderColor: #0c626d;
// !main styles
body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: $mainTextColor;
}
// !wrapper
.wrapper {
  overflow: clip;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  flex-grow: 1;
}

// !container
[class*="__container"] {
  max-width: 1250px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
// !header
@import "_header.scss";

// !hero
@import "_hero.scss";

// !project
@import "_project.scss";

// !footer
@import "_footer.scss";
