body {
  font-family: "Inter", sans-serif;
  font-size: toRem(18);
  color: $primaryTextColor;
  letter-spacing: 1.46;
}

// wrapper
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
}

.wrapper>main {
  flex-grow: 1;
}

// container
[class*="__container"] {
  max-width: 1250px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}