/* підключення шрифтів */
@import url(fonts.css);

/* скидання стилів */
@import url(reset.css);

/* загальні стилі */
body {
  font-family: "inter", sans-serif;
}

/* header */
.header {
  background-color: #f4f4f4;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.nav-list {
  text-align: center;
  border-bottom: 1px solid red;
}
.nav-item {
  display: inline-block;
}

.nav-item:not(:last-child) {
  margin-right: 120px;
}
.nav-link {
  font-family: "dancing script", fantasy;
  font-size: 36px;
  color: #303030;
  display: block;
  padding: 32px 0;
}

/* section practice */
.practice {
  padding: 145px 0;
}

.container {
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.practice-title {
  font-family: "dancing script", fantasy;
  font-size: 50px;
  color: #60636f;
  text-align: center;
  margin-bottom: 30px;
}

.block-color {
  width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: red;
  margin-bottom: 33px;
}

.inline-color {
  background-color: lightskyblue;
  line-height: 2;
}

.block-image {
  height: 1200px;
  width: 800px;
  margin: 145px auto 145px auto;
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url("../img/sea.jpg");
  background-position: center;
}

.block-gradient {
  margin-bottom: 50px;
  padding-top: 100px;
  padding-bottom: 10px;
  background-image: linear-gradient(
    90deg,
    rgba(0, 36, 34, 1) 10%,
    rgba(36, 121, 9, 0.7848389355742297) 51%,
    rgba(8, 65, 133, 1) 78%,
    rgba(0, 212, 255, 0.3926820728291317) 100%
  );
}

.block-image-no-rep {
  height: 294px;
  width: 1100px;
  margin: 0 auto 60px auto;
  background-color: lightblue;
  background-image: url("../img/product-2.jpg");
  background-repeat: no-repeat;
}

.block-image-rep-x {
  height: 400px;
  width: 1100px;
  margin: 0 auto 60px auto;
  background-color: lightcoral;
  background-image: url("../img/product-2.jpg");
  background-repeat: repeat-x;
}

.block-image-rep-y {
  height: 1110px;
  width: 500px;
  background-color: lightgrey;
  margin: 0 auto 60px auto;
  background-image: url("../img/product-2.jpg");
  background-repeat: repeat-y;
}

.block-image-position-1 {
  height: 500px;
  width: 1100px;
  margin: 0 auto 60px auto;
  background-color: lightsalmon;
  background-image: url("../img/barbers-img-1.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.block-image-position-2 {
  height: 500px;
  width: 1100px;
  margin: 0 auto 60px auto;
  background-color: rgb(124, 184, 130);
  background-image: url("../img/barbers-img-1.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  box-shadow: 0px 5px 5px rgb(124, 184, 130);
}

.block-image-position-3 {
  height: 500px;
  width: 1100px;
  margin: 0 auto 60px auto;
  background-color: rgb(127, 115, 111);
  background-image: url("../img/barbers-img-1.jpg");
  background-repeat: no-repeat;
  background-position: 30px 69px;
  border: 2px solid rgb(149, 62, 76);
}

.block-image-attachment {
  width: 500px;
  background-color: lightgrey;
  margin: 0 auto 60px auto;
  background-image: url("../img/product-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.block-size {
  height: 600px;
  width: 800px;
  margin: 0 auto 60px auto;
  background-color: #ab8a8a;
  background-image: url("../img/barbers-img-1.jpg");
  background-repeat: no-repeat;
  background-size: 250px;
}

.block-size-contain {
  height: 600px;
  width: 800px;
  margin: 0 auto 60px auto;
  background-color: #d5cdcd;
  background-image: url("../img/barbers-img-1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.block-size-cover {
  height: 600px;
  width: 800px;
  margin: 0 auto 60px auto;
  background-color: #d5cdcd;
  background-image: url("../img/barbers-img-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.block-size-background {
  max-width: 800px;
  margin: 0 auto 60px auto;
  background: linear-gradient(
      90deg,
      rgba(0, 36, 34, 1) 10%,
      rgba(36, 121, 9, 0.7848389355742297) 51%,
      rgba(8, 65, 133, 1) 78%,
      rgba(0, 212, 255, 0.3926820728291317) 100%
    )
    center / 1000px 200px no-repeat fixed;
}
